.board_iter{
    border : 1px solid black;
}
.attached_image {
    width : 100px;
    height : 100px;
}
#category_name {
    padding-top : 40px;
    text-align: center;
    color : #AAAAAA;
    font-family : NanumBarunGothic;
}
#write_button{
    margin : 10px;
}
#write_button_wrapper {
    width : 70%;
    text-align : right;
    margin : auto;
}
.board_button_wrapper{
    position : absolute;
    right : 10px;
}
.user_icon{
    display : inline;
    width : 30px;
    height : 30px;
    margin-right : 20px;
}
.board_contents{
    padding : 10px;
}
.board_title{
    font-size : 2em;
    margin-right : 10px;
}
#pagination_div_wrapper{
    padding-top : 30px;
    display : grid;
    grid-template-columns : 33% 33% 33%;
}
#pagination_list{
    padding : 0px;
    text-align : center;
    height : 10px;
}
pagination_wrapper > * {   
    margin-left : 5px;
}
pagination_wrapper * {
    color : #AAAAAA;
}
pagination_cur_tag{
    color : #CC7B33;
}
.badge{
    background-color : #CC7B33;
}
#board_list{
    width : 70%;
    margin : auto;
}