#wrapper {
    display : grid;
    grid-template-columns: 5% 20% 75%;
    margin : 100px 0 50px 0;
}
#credit * {
    color : #AAAAAA;
}
#sangsangfont{
    font-family : SangSangFlowerRoad;
    font-size : 3em;
    color : #AAAAAA;   
}
@media screen and (max-width: 1023px) {
    .footer{
        /* display : none; */
    };
}