#main_jb_ul{
    text-align : center;
    margin : 0px;
    padding : 0px;
}
#main_jb_ul li {
    list-style-type : none;
    display : inline-block;
    margin : 0px;
    padding : 0px;
}
#nav_row_wrapper * a, a:link, a:visited a:hover{
    text-decoration : none;
}
#nav_row_wrapper * {
    color : #FFFFFF;
}
#nav_row_wrapper{
    height : 300px;
}
    #nav_row_img_wrapper{
        width : 100%;
        height : 100%;
    }
#nav_row_img_wrapper img{
    width : 100%;
    height : 100%;
}


#main_jb_wrapper{
    position : absolute;
    top : 60px;
    left : 50%;
    transform: translate( -50%, 0 );
    width : 100%;
}
    #main_jb_text {
        text-align : center;
        padding-bottom : 60px;
        text-align: center;
        letter-spacing: 0.3px;
    }
        #title{
            font-size : 40px;
            line-height : 40px;
            font-family : SangSangFlowerRoad;
        }
#main_jb_ul {
    font-size : 14px;
    line-height : 16px;
    font-family : NanumBarunGothic;
    letter-spacing: 0;
}
    #main_jb_ul li{
        padding : 0 10px 0 10px;
    }
#search_wrapper{
    position : absolute;
    right : 10%;
    top : 235px;
}
    #s_word{
        background : none;
        border : none;
        border-bottom : 1px solid #FFFFFF;
    }
    #search_btn{
        padding: 0;
        background : none;
        border : none;
        outline : none;
    }
    textarea:focus, input:focus{
        outline: none;
    }